.rs-container {
  border: dashed 1px #ccc;
}

.rs-cursor-wrapper {
  position: relative;
}

.rs-cursor {
  width: 20px;
  height: 20px;
  background-color: red;
  border-radius: 20px;
  position: relative;
}
